.main-page {
  text-align: center;
  width: 100%;
  padding-top: 8rem;
  display: flex;
  align-items: center;
}

.logo-container {
  position: absolute;
  left: 50%;
  right: 50%;
  top: 1rem;
  display: grid;
  justify-items: center;
  justify-content: center;
  grid-template-rows: 150px 1fr;
}

.pokemon-logo {
  max-width: 450px;
  z-index: 2;
}

.pokemom-ball {
  max-width: 5rem;
  width: 100%;
  z-index: 1;
}

.card-container {
  background-color: white;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding-top: 7.5rem;
  padding-bottom: 1.5rem;
}
