:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  background-color: rgba(49, 106, 177);
}
.pokemon-input {
  background-color: rgba(255, 218, 71);
  color: rgba(55, 91, 161);
  font-weight: 500;
}

.pokemon-input::placeholder {
  color: rgba(55, 91, 161);
}

.pokemon-input:focus {
  background-color: rgba(255, 218, 71);
  font-weight: 200;
}

.btn-primary {
  background-color: rgba(49, 106, 177);
  border: none;
  color: rgba(252, 224, 109);
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.2s;
}

.btn-primary:hover {
  background-color: rgba(55, 91, 161);
  color: rgba(252, 224, 109);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
